
.label_form {
   font-weight: 400;
   margin-left: 5px;
   text-shadow: red 0 0 ,cyan 0 0;
   transition: text-shadow 200ms;
}

.label_form:hover {
   text-shadow: red -6px 0, cyan 6px 0;
}


.signup_btn {
   right: 0;
   position: absolute;
   margin-top: 3px;
   font-size: 15px;
   color: rgb(30, 30, 165);
   cursor: pointer;
}

.signup_btn:hover {
   text-decoration: underline;
}


.signup_btn_true {
   display: none;
}

.form_activated{
   display: none;
}
