  .wave-btn {
    width: 100%;
    color: #000000;
    background: #ffffff;
    padding: 5px;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all 1s;
  }

  .wave-btn:hover:before {
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 100px;
    background-color: #0097e6;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    animation: wave 5s infinite linear;
    transition: all 1s;
  }

  .wave-btn:hover:before {
  top: 5px;
  }

@keyframes wave {
0% {
			transform: translate(-50%) rotate(-180deg);
}
100% {
			transform: translate(-50%) rotate(360deg);
  }
}
