.wave-btn {
    width: 100%;
    background: #ffffff;
    padding: 5px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    border:none;
    margin-top: 10px;
    -webkit-transition: .3s;
  }

 
.wave-btn:hover {
  box-shadow: 0px 0px 10px 0px #fc00ff,
              10px 20px 50px 0px #00dbde,
              0px 10px 37px 0px #ff0505,
              0px 0px 100px 0px #C779D0;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}