.input{
   padding-right: 3%;
}

.input_text {
   padding: 1vh;
   border-radius: 10px;
   outline:none;
   border:1px solid #CECECE;
   width:100%;
}

.input_text::placeholder {
   font-size:14px;
   font-weight: lighter;
}
