.input{
   margin-bottom: 15px;
}

.input_text {
   font-size: 12px;
   border-radius: 7px;
   outline:none;
   border:1px solid #CECECE;
   width:95%;
   padding-left: 1.3vh;
   height: 3.5vh;
}

.input_text::placeholder {
   font-size:12px;
   font-weight: lighter;
   padding-left: .3vh;
}
